@import url("assets/reset.css");
@import url("assets/animations.css");

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Fredoka+One);


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: aquamarine;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.funcionalidade {
    background-color: #2A2D96;
    .tarefa-descricao {
        background-color: darkblue;
        color: #fff;
        text-align: center;
        padding: 1em;
    }
    .itens-tarefa {
        .list-group-item{
            background-color: transparent;
            border: none;
            padding: 0.5em;
            .panel {
                margin: 0;
                .panel-heading, .panel-footer {
                    background-color: #DBDBD3;
                    color: #fff;
                    text-align: center;
                    padding: 0.5em;
                    color: #2A2D96;
                }
                .panel-body {
                    padding: 0.6em;
                }
            }
        }
    }

}

.unslider {
    overflow: hidden;
    .unslider-arrow {
        top: 340px;
        display: block;
        background-color: azure;
        width: 50px;
        height: 50px;
        text-indent: -9999px;
        border-radius: 100%;
    }
}
.appui {
    .ui-btn-block {
        display: block;
    }
    .ui-btn {
        display: inline-block;
        background-color: #C1272D;
        color: #fff;
        border: 0;
        font-size: 1.4em;
        padding: 0.2em 0.5em 0.2em 0.5em;
        border-radius: 30px;
        font-family: "Fredoka One", "Arial Rounded", Arial, Helvetica, sans-serif;
        &:hover {
            background-color: #EF5460;
            cursor: pointer;
        }
    }
}

.app-container {
    position: absolute;
    width: 100%;
    height: 560px;
    top: 50%;
    transform: translateY(-50%);
    background: white url("assets/media/bg-screen-home.png") center center repeat-x;
}

#mainApp {
    
    width: 960px;
    height: 560px;
    margin: 0 auto;
    background-color: lightgray;
    overflow: hidden;
    position: relative;
    
    .screen-home {
        position: absolute;
        top: 0;
        left: 0;
        width: 960px;
        height: 560px;
        background: white url("assets/media/bg-screen-home.png") center center repeat-x;
        .screen-container {
            position: relative;
            width: 960px;
            height: 560px;
            .app-logo {
                width: 450px;
                height: 198px;
                position: absolute;
                left: 50%;
                top: 30px;
                transform: translateX(-50%);
                z-index: 1;
            }
            .home-welcome-text {
                position: absolute;
                bottom: 15px;
                left: 15px;
                color: #fff;
                font-size: 1em;
                strong {
                    font-size: 1.6em;
                    font-family: "Fredoka One", "Arial Rounded", Arial, Helvetica, sans-serif;    
                }
            }

            .stage-options {
                width: 100%;
                height: 210px;
                position: absolute;
                top:260px;
                .stage-options-container {
                    width: 100%;
                    height: 210px;
                    position: relative;
                    overflow: hidden;
                    ul {
                        width: 2000px;
                        position: absolute;
                        left: 320px;
                        list-style: none;
                        li {
                            display: inline-block;
                            width: 320px;
                            height: 210px;
                            margin-right: 30px;
                            a {
                                display: block;
                            }
                        }
                    }    
                }
            }
            
            .home-options-default {
                position: absolute;
                right: 15px;
                bottom: 15px;
            }
        }
    }
    
    .screen-stage {
        position: absolute;
        width: 960px;
        /*height: 495px;*/
        top: -560px;
        left: 0;
        background-color: #2E3192;
        z-index: 2;
        .screen-container {
            position: relative;
            width: 960px;
            height: 495px;
            header {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background-color: #9E005D;
                color: #fff;
                h2.title {
                    margin-left: 200px;
                    padding: 0.3em;
                    font-size: 2em;
                    font-family: "Fredoka One", "Arial Rounded", Arial, Helvetica, sans-serif;
                    span {
                        color: #FFFF00;
                    }
                }
                button {
                    position: absolute;
                    left: 200px;
                    top: 65px;
                }
                img.stage-icon {
                    position: absolute;
                    width: 170px;
                    top: -20px;
                    left: 20px;
                    z-index: 999;
                }
            }
        }
        .slider-content {
            li {
                position: relative;
                .slider-text {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 1em 3em;
                    background-color: rgba(108, 75, 179, 0.9);
                    font-size: 1.2em;
                    font-weight: bold;
                    line-height: 1.7em;
                    text-align: center;
                    color: #fff;
                    span {
                        color: #c4ddf3;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
