@import url("assets/reset.css");
@import url("assets/animations.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Fredoka+One);
/* line 7, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: aquamarine;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 14px; }

/* line 18, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
.funcionalidade {
  background-color: #2A2D96; }
  /* line 20, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
  .funcionalidade .tarefa-descricao {
    background-color: darkblue;
    color: #fff;
    text-align: center;
    padding: 1em; }
  /* line 27, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
  .funcionalidade .itens-tarefa .list-group-item {
    background-color: transparent;
    border: none;
    padding: 0.5em; }
    /* line 31, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
    .funcionalidade .itens-tarefa .list-group-item .panel {
      margin: 0; }
      /* line 33, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      .funcionalidade .itens-tarefa .list-group-item .panel .panel-heading, .funcionalidade .itens-tarefa .list-group-item .panel .panel-footer {
        background-color: #DBDBD3;
        color: #fff;
        text-align: center;
        padding: 0.5em;
        color: #2A2D96; }
      /* line 40, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      .funcionalidade .itens-tarefa .list-group-item .panel .panel-body {
        padding: 0.6em; }

/* line 49, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
.unslider {
  overflow: hidden; }
  /* line 51, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
  .unslider .unslider-arrow {
    top: 340px;
    display: block;
    background-color: azure;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    border-radius: 100%; }

/* line 62, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
.appui .ui-btn-block {
  display: block; }

/* line 65, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
.appui .ui-btn {
  display: inline-block;
  background-color: #C1272D;
  color: #fff;
  border: 0;
  font-size: 1.4em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 30px;
  font-family: "Fredoka One", "Arial Rounded", Arial, Helvetica, sans-serif; }
  /* line 74, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
  .appui .ui-btn:hover {
    background-color: #EF5460;
    cursor: pointer; }

/* line 81, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
.app-container {
  position: absolute;
  width: 100%;
  height: 560px;
  top: 50%;
  transform: translateY(-50%);
  background: white url("assets/media/bg-screen-home.png") center center repeat-x; }

/* line 90, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
#mainApp {
  width: 960px;
  height: 560px;
  margin: 0 auto;
  background-color: lightgray;
  overflow: hidden;
  position: relative; }
  /* line 99, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
  #mainApp .screen-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 560px;
    background: white url("assets/media/bg-screen-home.png") center center repeat-x; }
    /* line 106, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
    #mainApp .screen-home .screen-container {
      position: relative;
      width: 960px;
      height: 560px; }
      /* line 110, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      #mainApp .screen-home .screen-container .app-logo {
        width: 450px;
        height: 198px;
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        z-index: 1; }
      /* line 119, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      #mainApp .screen-home .screen-container .home-welcome-text {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #fff;
        font-size: 1em; }
        /* line 125, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
        #mainApp .screen-home .screen-container .home-welcome-text strong {
          font-size: 1.6em;
          font-family: "Fredoka One", "Arial Rounded", Arial, Helvetica, sans-serif; }
      /* line 131, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      #mainApp .screen-home .screen-container .stage-options {
        width: 100%;
        height: 210px;
        position: absolute;
        top: 260px; }
        /* line 136, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
        #mainApp .screen-home .screen-container .stage-options .stage-options-container {
          width: 100%;
          height: 210px;
          position: relative;
          overflow: hidden; }
          /* line 141, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
          #mainApp .screen-home .screen-container .stage-options .stage-options-container ul {
            width: 2000px;
            position: absolute;
            left: 320px;
            list-style: none; }
            /* line 146, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
            #mainApp .screen-home .screen-container .stage-options .stage-options-container ul li {
              display: inline-block;
              width: 320px;
              height: 210px;
              margin-right: 30px; }
              /* line 151, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
              #mainApp .screen-home .screen-container .stage-options .stage-options-container ul li a {
                display: block; }
      /* line 159, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      #mainApp .screen-home .screen-container .home-options-default {
        position: absolute;
        right: 15px;
        bottom: 15px; }
  /* line 167, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
  #mainApp .screen-stage {
    position: absolute;
    width: 960px;
    /*height: 495px;*/
    top: -560px;
    left: 0;
    background-color: #2E3192;
    z-index: 2; }
    /* line 175, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
    #mainApp .screen-stage .screen-container {
      position: relative;
      width: 960px;
      height: 495px; }
      /* line 179, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      #mainApp .screen-stage .screen-container header {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #9E005D;
        color: #fff; }
        /* line 188, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
        #mainApp .screen-stage .screen-container header h2.title {
          margin-left: 200px;
          padding: 0.3em;
          font-size: 2em;
          font-family: "Fredoka One", "Arial Rounded", Arial, Helvetica, sans-serif; }
          /* line 193, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
          #mainApp .screen-stage .screen-container header h2.title span {
            color: #FFFF00; }
        /* line 197, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
        #mainApp .screen-stage .screen-container header button {
          position: absolute;
          left: 200px;
          top: 65px; }
        /* line 202, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
        #mainApp .screen-stage .screen-container header img.stage-icon {
          position: absolute;
          width: 170px;
          top: -20px;
          left: 20px;
          z-index: 999; }
    /* line 212, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
    #mainApp .screen-stage .slider-content li {
      position: relative; }
      /* line 214, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
      #mainApp .screen-stage .slider-content li .slider-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1em 3em;
        background-color: rgba(108, 75, 179, 0.9);
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.7em;
        text-align: center;
        color: #fff; }
        /* line 225, C:/xampp/htdocs/github-falmeidaco/oafnx/style.scss */
        #mainApp .screen-stage .slider-content li .slider-text span {
          color: #c4ddf3;
          text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
